openapi: 3.1.0
info:
  title: Notion Assistant API
  version: "1.0.0"
servers:
  - url: https://api.notion.com
paths:
  /v1/pages:
    post:
      summary: Create a new page in Notion
      operationId: createPage
      parameters:
        - in: header
          name: "Notion-Version"
          required: true
          schema:
            type: string
            default: "2022-06-28"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - parent
                - properties
              properties:
                parent:
                  type: object
                  required:
                    - type
                    - page_id
                  properties:
                    type:
                      type: string
                      example: "page_id"
                    page_id:
                      type: string
                      example: "1c4363c4db78802295fbe0201398582f"
                properties:
                  type: object
                  required:
                    - title
                  properties:
                    title:
                      type: array
                      items:
                        type: object
                        required:
                          - text
                        properties:
                          text:
                            type: object
                            required:
                              - content
                            properties:
                              content:
                                type: string
                                example: "Sample Page Title"
      responses:
        '200':
          description: "Page created successfully"
          content:
            application/json:
              schema:
                type: object
                properties: {}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas: {}
security:
  - bearerAuth: []
